.upload-container {
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.card {
    text-align: center;
}

.upload-row {
    display: flex;
    justify-content: space-around;
}

.button {
    margin-right: .25em;
    width: 27%;
}

.download-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
