.upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Esto asegura que el contenedor ocupe toda la altura de la vista */
}


.card {
    text-align: center;
}

.upload-row {
    display: flex;
    justify-content: space-around;
}

.button {
    margin-right: .25em;
    width: 27%;
}

.download-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}